<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Radiology Masters video tutorials for FRCR exam success</title>
    <meta name="description" content="Radiology video tutorials to accelerate your FRCR exam success">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet" media="all">
</head>
<body class="authpage">
    
    <header role="banner">
     <div class="container">
        <h1 id="logo">
            <img src="/img/logo-48.png">
            Radiology Masters
            <span class="strapline">Learn faster</span>
            </h1>
     </div>
    </header>

        <section id="autharea">
            <h2>Login / Register</h2>
        </section>

</body>
</html>