<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Radiology Masters video tutorials for FRCR exam success</title>
    <meta name="description" content="Radiology video tutorials to accelerate your FRCR exam success">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="css/styles.css" rel="stylesheet" media="all">   
</head>
<body class="single">
    
    <header role="banner">
     <div class="container">
        <h1 id="logo">
            <img src="/img/logo-48.png">
            Radiology Masters
            <span class="strapline">Learn faster</span>
            </h1>

            <div class="user-meta">
                    <a class="button small bg-blue" href="#">Login</a> 
                    <a class="button small bg-green" href="#">Register (free)</a>
            </div>  
     </div>
    </header>

    <!-- Navigation bar for categories -->
    <nav role="navigation" class="primary-navigation">
     <div class="container">
         <ul>
             <li><a href="#">Gastrointestinal</a></li>
             <li><a href="#">Musculoskeletal</a></li>
             <li><a href="#">Paediatric</a></li>
             <li><a href="#">Genitourinary</a></li>
             <li><a href="#">Breast</a></li>
             <li><a href="#">Chest</a></li>
             <li><a href="#">Neuro / Head & Neck</a></li>
             <li><a href="#">Cardiovascular</a></li>
             <li><a href="#">FRCR tips</a></li>
         </ul>
     </div>
    </nav>
    <!-- // Navigation bar for categories -->

    <main role="main">
     <div class="container row">
        <article class="col">
            <!-- if user logged in and has permission -->
            <video>
                Video player embeds here
            </video>
            <!-- // if user logged in and has permission -->
            
            <h2>Anterior mediastinal masses</h2>
            <p>
                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>  
        </article>

        <aside class="col">
            
            <!-- <div class="completion-status">
                <i class="fa fw fa-4x fa-check-circle-o"></i> Done!
            </div> -->

            <h3>Metadata to consume</h3>
                <div class="meta">
                    <span class="title">Author</span><span class="value"><a href="">John Curtis</a></span>    
                </div>

                <div class="meta">
                    <span class="title">Complexity</span>
                    <span class="complexity">
                        <a class="button small bg-green" href="">Easy</a>
                        <a class="button small bg-yellow" href="">Medium</a>
                        <a class="button small bg-red active" href="">Hard</a>
                    </span> 
                </div>

                <div class="meta">
                    <span class="title">Speciality</span><span class="value"><a href="">Gastrointestinal</a></span>    
                </div>
                

            <h4>Buttons to play with</h4>
            <p>
                <a class="button small bg-green" href="">Small Green Button</a>
                <a class="button small bg-red" href="">Small Red Button</a>
                <a class="button bg-black" href="">Standard black button</a>
                <a class="button large bg-blue" href="">Large Blue Button</a>
                <a class="button fullwidth bg-green" href="">Full Width Button</a>
            </p>
        </aside>

    </main>

    <footer role="contentinfo">
     <div class="container row">
        <div class="col first">
            <h4>Heading 4</h4>
        </div>

        <div class="col">
            <h4>Heading 4</h4>
        </div>

        <div class="col last">
            <h4>Heading 4</h4>
        </div>
        

        <small>Copyright &copy; <time datetime="2017">2017</time></small>
     </div>
    </footer>

</body>
</html>